@media (min-width: 500px) {
  .flex {
    background: white;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 5px;
    padding: 10px;
  }
  .card {
    width: 80vw;
    border-radius: 10px;
    box-shadow: 0 0 20px gray;
    background: white;
  }
  .center {
    display: grid;
    place-content: center;
    margin-top: 2%;
    margin-buttom: 2%;
  }
}

.flex {
  background: white;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(83px, 1fr));
  gap: 2px;
  padding: 5px;
}
.pad {
  padding: 5px 20px;
}
.chart {
  padding: 5px 20px;
}
.prefecture {
  padding: 20px 10px;
}

.ladiv {
  background: blue;
}
